Breaking Bricks/Debug/*
/Debug/Breaking Bricks.exe
/Breaking Bricks.VC.db
/Breaking Bricks.VC.VC.opendb
/Debug/Breaking Bricks.ilk
/Debug/Breaking Bricks.pdb
/Debug/lnk{F25F9720-B068-40EF-AC67-26E0DE432654}.tmp
/.vs/Breaking Bricks/v14/.suo
/.vs/Breaking Bricks/v15/Browse.VC.db
/.vs/Breaking Bricks/v15/ipch/AutoPCH/
